# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/RigidDeform/Debug
/RigidDeform/Release
/.vs/RigidDeform/v15
/RigidDeform/x64/Debug
/x64/Debug
/x64/Release
/RigidDeform/x64/Release
